<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>แก้ไขระดับการวัดผล</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content >
<ion-item>
        <ion-label position="floating">ชื่อระดับการวัดผลภาษาไทย</ion-label>
        <ion-input  name="lv_name_th"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ชื่อระดับการวัดผลภาษาอังกฤษ</ion-label>
        <ion-input   name="lv_name_eng"></ion-input>
      </ion-item>
</ion-content>
<ion-footer translucent mode="ios" style="padding: 0 1vw">
  <ion-button color="primary" expand="block" size="large">บันทึก</ion-button>
</ion-footer>
