<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>การจัดการบทเรียนย่อย</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchTerm" mode="ios" animated showCancelButton cancelButtonText="ยกเลิก"
      (ionChange)="ionChange()"
      (ionCancel)="onCancel()"
    ></ion-searchbar>
    </ion-toolbar>
  
</ion-header>

<ion-content padding>

</ion-content>
