<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>การจัดการบทเรียนย่อย</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
  <ion-searchbar [(ngModel)]="searchTerm" mode="ios" animated showCancelButton cancelButtonText="ยกเลิก"
    (ionChange)="ionChange()"
    (ionCancel)="onCancel()"
  ></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="add()" color="primary"><ion-icon name="add" mode="ios"></ion-icon></ion-fab-button>
    </ion-fab>

    <ion-list>

        <ion-item-sliding #slidingItem *ngFor="let subchapter of subchapterLists; let i = index">
          <ion-item (click)="toSchtm(subchapter.scht_id, slidingItem)" detail>
            {{subchapter.scht_name}}
          </ion-item>
          <ion-item-options side="end">
              <ion-item-option  color="warning" (click)="edit(subchapter.scht_cht_id,subchapter.scht_id,slidingItem)">
                <ion-icon name="create" mode="md" class="big-icon"></ion-icon>
              </ion-item-option>
              <ion-item-option  color="danger" (click)="delete(i, subchapter.scht_id, slidingItem)">
                <ion-icon name="trash" mode="ios" class="big-icon"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
      
    </ion-list>

</ion-content>
