<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
          <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="center">เพิ่มคำถาม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios">
    <ion-list-header>
      Step 2 : เลือกประเภทคำถาม
    </ion-list-header>
    <ion-item (click)="choicesType()">
      <ion-label>ปรนัย</ion-label>
      <ion-icon name="arrow-dropright-circle" mode="ios" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="freeTextType()">
      <ion-label>อัตนัย</ion-label>
      <ion-icon name="arrow-dropright-circle" mode="ios" color="primary" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
