<ion-app class="ios">
  <ion-split-pane>
    <ion-menu type="overlay" side="end">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>เมนูหลัก</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [disabled]="p.status">
              <ion-thumbnail slot="start">
                <ion-img type="image/png" [src]="p.img" color="primary"></ion-img>
              </ion-thumbnail>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
