<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
       <ion-button (click)="back()">
       <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
     <ion-title>แก้ไขวัตถุประสงค์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="floating">ชื่อวัตถุประสงค์</ion-label>
      <ion-input [(ngModel)]="data.obj_name"  name="obj_name" [value]="objective.obj_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ระดับวัดผล</ion-label>
      <ion-select [(ngModel)]="data.obj_lv_id" mode="ios" ok-text="ตกลง" cancel-text="ยกเลิก">
        <ion-select-option *ngFor="let level of arr_level" [value]="level.lv_id" selected="level.lv_id == objective.obj_lv_id">{{level.lv_name_th}} ({{level.lv_name_eng}})</ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>

<ion-footer translucent mode="ios" style="padding: 0 1vw">
    <ion-button color="primary" expand="block" size="large" (click)="save()">บันทึก</ion-button>
</ion-footer>