<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>เพิ่มระดับการวัดผล</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

  
  </ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">ชื่อระดับการวัดผลภาษาไทย</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ชื่อระดับการวัดผลภาษาอังกฤษ</ion-label>
        <ion-input></ion-input>
      </ion-item>
</ion-content>
