<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>การจัดรายวิชา</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar animated showCancelButton cancelButtonText="ยกเลิก"
    (ionInput)="onInput($value)"
    (ionCancel)="onCancel($event)"
  ></ion-searchbar>

</ion-header>

<ion-content padding>
  <ion-list  *ngFor="let subjects of subjectsLists; let i = index">

    <ion-item-sliding #slidingItem>
      <ion-item>
        <h4>{{subjects.sub_name_th}}</h4>
        <p slot="end">{{subjects.sub_code_th}}</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option  color="warning">
          <ion-icon name="build" class="big-icon"></ion-icon>
        </ion-item-option>
        <ion-item-option  color="danger">
          <ion-icon name="trash" class="big-icon"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
