<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>การจัดรายวิชา</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
      <ion-searchbar [(ngModel)]="searchTerm" mode="ios" animated showCancelButton cancelButtonText="ยกเลิก"
        (ionChange)="ionChange()" (ionCancel)="onCancel()">
      </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <button class="roundbutton" (click)="add()" color="primary"><ion-icon name="add" mode="ios"></ion-icon></button>
      </ion-fab>
  <ion-list  *ngFor="let subjects of subjectsLists; let i = index">

    <ion-item-sliding #slidingItem>
      <ion-item >
        {{subjects.sub_code_th}} {{subjects.sub_name_th}}
        
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option  color="warning">
          <ion-icon name="build" class="big-icon"></ion-icon>
        </ion-item-option>
        <ion-item-option  color="danger">
          <ion-icon name="trash" class="big-icon"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
