<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
       <ion-button (click)="back()">
       <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
     <ion-title>เพิ่มรายวิชา</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
      <ion-label color="primary" floating>รหัสวิชาภาษาไทย</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>ชื่อวิชาภาษาไทย</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>รหัสวิชาภาษาอังกฤษ</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>ชื่อวิชาภาษาอังกฤษ</ion-label>
      <ion-input></ion-input>
    </ion-item>
</ion-content>