<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ระบบคลังข้อสอบ
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card mode="ios" no-margin color="primary" routerLink="/subm">
        <ion-card-subtitle text-center margin-top>จัดการรายวิชา</ion-card-subtitle>
        <ion-card-content>
          <ion-img type="image/png" src="assets/icon/sub.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card mode="ios" no-margin color="primary" routerLink="/lvm">
        <ion-card-subtitle text-center margin-top>จัดการระดับวัดผล</ion-card-subtitle>
        <ion-card-content>
          <ion-img type="image/png" src="assets/icon/level.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card mode="ios" no-margin color="primary" routerLink="/qtm">
        <ion-card-subtitle text-center margin-top>จัดการคำถาม</ion-card-subtitle>
        <ion-card-content>
          <ion-img type="image/png" src="assets/icon/question.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card mode="ios" no-margin color="medium">
        <ion-card-subtitle text-center margin-top>อยู่ระหว่างการพัฒนา...</ion-card-subtitle>
        <ion-card-content>
          <ion-img type="image/png" src="assets/icon/exam.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card mode="ios" no-padding no-margin color="medium">
        <ion-card-subtitle text-center margin-top>อยู่ระหว่างการพัฒนา...</ion-card-subtitle>
        <ion-card-content>
          <ion-img type="image/png" src="assets/icon/answer.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card mode="ios" no-margin color="medium">
        <ion-card-subtitle text-center margin-top>อยู่ระหว่างการพัฒนา...</ion-card-subtitle>
        <ion-card-content>
          <ion-img type="image/png" src="assets/icon/dashboard.png"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
